@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


:root {
	--font-body: 'Roboto', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--sidebarWidth: 20rem;
}

/* * {
	box-sizing: border-box;
	font-family: var(--font-body);
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-gray);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.actions {
	display: flex;
	background: var(--color-main);
	align-items: center;
	padding: 2px;
	border-radius: var(--radius-sm);
	margin-bottom: 10px;
	gap: 10px;
}

.actions input {
	background-color: var(--color-gray-2);
	color: var(--color-main);
	border: 0;
	padding-block: 10px;
	padding-inline: 20px;
	border-radius: var(--radius-sm);
	outline: none;
}

.actions input:focus {
	color: var(--color-gray-7);
}

.actions input::placeholder {
	color: inherit;
}

.wrapper-todos {
	display: grid;
	width: 100%;
	grid-template-rows: auto minmax(0, 1fr);
	max-height: 100vh;
}

.bg-primary {
	background-color: var(--color-main) !important;
}

.bg-dark {
	background-color: var(--color-dark) !important;
}

.bg-gray {
	background-color: var(--color-gray) !important;
}

.bg-gray-2 {
	background-color: var(--color-gray-2) !important;
}

.bg-gray-3 {
	background-color: var(--color-gray-3) !important;
}

.bg-gray-4 {
	background-color: var(--color-gray-4) !important;
}

.bg-gray-5 {
	background-color: var(--color-gray-5) !important;
}

.bg-gray-6 {
	background-color: var(--color-gray-6) !important;
}

.bg-gray-7 {
	background-color: var(--color-gray-7) !important;
}

.bg-white {
	background-color: white !important;
}

.bg-green {
	background-color: var(--color-green) !important;
}

.bg-blue {
	background-color: var(--color-blue) !important;
}

.bg-purple {
	background-color: var(--color-purple) !important;
}

.bg-red {
	background-color: var(--color-red) !important;
}

.bg-light {
	background-color: var(--color-light) !important;
}

.color-primary {
	color: var(--color-main) !important;
}

.color-dark {
	color: var(--color-dark) !important;
}

.color-green {
	color: var(--color-green) !important;
}

.color-blue {
	color: var(--color-blue) !important;
}

.color-purple {
	color: var(--color-purple) !important;
}

.color-red {
	color: var(--color-red) !important;
}

.color-white {
	color: white !important;
}

.color-light {
	color: var(--color-light) !important;
}

.color-gray {
	color: var(--color-gray) !important;
}

.color-gray-2 {
	color: var(--color-gray-2) !important;
}

.color-gray-3 {
	color: var(--color-gray-3) !important;
}

.color-gray-4 {
	color: var(--color-gray-4) !important;
}

.color-gray-5 {
	color: var(--color-gray-5) !important;
}

.color-gray-6 {
	color: var(--color-gray-6) !important;
}

.color-gray-7 {
	color: var(--color-gray-7) !important;
}

[class*="btn-"] {
	border-radius: var(--radius-sm);
	cursor: pointer;
	letter-spacing: 1.3px;
}

.btn-primary {
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	color: var(--color-light);
}

.btn-primary:hover {
	background-color: var(--color-main-hover);
}

.btn-light {
	background-color: #e1e1e1;
	color: var(--color-gray);
	border: 1px solid #e1e1e1;
}

.btn-light:hover {
	background-color: #ffffff;
}

.btn-dark {
	background-color: var(--color-dark);
	border: 1px solid var(--color-dark);
	color: var(--color-light);
}

.btn-dark:hover {
	background-color: var(--color-dark-hover);
}

.btn-green {
	background-color: var(--color-green);
	border: 1px solid var(--color-green);
	color: var(--color-light);
}

.btn-green:hover {
	background-color: var(--color-green-hover);
}

.btn-blue {
	background-color: var(--color-blue);
	color: var(--color-light);
	border: 1px solid var(--color-blue);
}

.btn-blue:hover {
	background-color: var(--color-blue-hover);
}

.btn-red {
	background-color: var(--color-red);
	color: var(--color-light);
	border: 1px solid var(--color-red);
}

.btn-red:hover {
	background-color: var(--color-red-hover);
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.flex-1 {
	flex: 1;
}

.flex-0 {
	flex: 0;
}

kbd {
	font-family: var(--font-mono);
	font-weight: 600;
	text-transform: uppercase;
	background-color: var(--color-gray);
	color: var(--color-gray-7);
	padding: 3px;
	border-radius: var(--radius-sm);
} */