@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


:root {
	--font-body: 'Roboto', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-gray: #1a1a1a;
	--color-bg-gray-2: #2a2a2a;
	--color-bg-gray-3: #3a3a3a;
	--color-bg-gray-4: #4a4a4a;
	--color-bg-gray-5: #5a5a5a;
	--color-bg-gray-6: #6a6a6a;
	--color-bg-gray-7: #7a7a7a;
	--color-bg-green: #2ecc71;
	--color-bg-green-hover: #27ae60;
	--color-bg-blue: #3498db;
	--color-bg-blue-hover: #3ea4e7;
	--color-bg-purple: #8e44ad;
	--color-bg-purple-hover: #9b59b6;
	--color-bg-red: #c0392b;
	--color-bg-red-hover: #e74c3c;
	--color-bg-dark: hsl(0, 0%, 0%);
	--color-bg-dark-hover: hsl(0, 0%, 6%);
	--color-text: rgba(0, 0, 0, 0.7);
	--color-main: #788cde;
	--color-main-hover: #8399f1;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--radius-sm: 0.25rem;
	color: var(--color-main);
	font-size: 0.80rem;
}

* {
	box-sizing: border-box;
	font-family: var(--font-body);
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-bg-gray);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.actions {
	display: flex;
	background: var(--color-main);
	align-items: center;
	padding: 2px;
	border-radius: var(--radius-sm);
	margin-bottom: 10px;
	gap: 10px;
}

.actions input {
	background-color: var(--color-bg-gray-2);
	color: var(--color-main);
	border: 0;
	padding-block: 10px;
	padding-inline: 20px;
	border-radius: var(--radius-sm);
	outline: none;	
}

.actions input:focus {
	color: var(--color-bg-gray-7);
}

.actions input::placeholder {
	color: inherit;
}

.wrapper-todos {
	display: grid;
	width: 100%;
	grid-template-rows: auto minmax(0, 1fr);
	max-height: 100vh;
}

.bg-primary {
	background-color: var(--color-main) !important;
}

.bg-dark {
	background-color: var(--color-bg-dark) !important;
}

.bg-gray {
	background-color: var(--color-bg-gray) !important;
}

.bg-gray-2 {
	background-color: var(--color-bg-gray-2) !important;
}

.bg-gray-3 {
	background-color: var(--color-bg-gray-3) !important;
}

.bg-gray-4 {
	background-color: var(--color-bg-gray-4) !important;
}

.bg-gray-5 {
	background-color: var(--color-bg-gray-5) !important;
}

.bg-gray-6 {
	background-color: var(--color-bg-gray-6) !important;
}

.bg-gray-7 {
	background-color: var(--color-bg-gray-7) !important;
}

.bg-white {
	background-color: white !important;
}

.bg-green {
	background-color: var(--color-bg-green) !important;
}

.bg-blue {
	background-color: var(--color-bg-blue) !important;
}

.bg-purple {
	background-color: var(--color-bg-purple) !important;
}

.bg-red {
	background-color: var(--color-bg-red) !important;
}

.color-primary {
	color: var(--color-main) !important;
}

.color-dark {
	color: var(--color-bg-dark) !important;
}

.color-green {
	color: var(--color-bg-green) !important;
}

.color-blue {
	color: var(--color-bg-blue) !important;
}

.color-purple {
	color: var(--color-bg-purple) !important;
}

.color-red {
	color: var(--color-bg-red) !important;
}

.color-white {
	color: white !important;
}

.color-gray {
	color: var(--color-bg-gray) !important;
}

.color-gray-2 {
	color: var(--color-bg-gray-2) !important;
}

.color-gray-3 {
	color: var(--color-bg-gray-3) !important;
}

.color-gray-4 {
	color: var(--color-bg-gray-4) !important;
}

.color-gray-5 {
	color: var(--color-bg-gray-5) !important;
}

.color-gray-6 {
	color: var(--color-bg-gray-6) !important;
}

.color-gray-7 {
	color: var(--color-bg-gray-7) !important;
}

[class*="btn-"] {
	border-radius: var(--radius-sm);
	cursor: pointer;
	letter-spacing: 1.3px;
}

.btn-primary {
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	color: white;
}

.btn-primary:hover {
	background-color: var(--color-main-hover);
}

.btn-light {
	background-color: #e1e1e1;
	color: var(--color-bg-gray);
	border: 1px solid #e1e1e1;
}

.btn-light:hover {
	background-color: #ffffff;
}

.btn-dark {
	background-color: var(--color-bg-dark);
	border: 1px solid var(--color-bg-dark);
	color: white;
}

.btn-dark:hover {
	background-color: var(--color-bg-dark-hover);
}

.btn-green {
	background-color: var(--color-bg-green);
	border: 1px solid var(--color-bg-green);
	color: white;
}

.btn-green:hover {
	background-color: var(--color-bg-green-hover);
}

.btn-blue {
	background-color: var(--color-bg-blue);
	color: white;
	border: 1px solid var(--color-bg-blue);
}

.btn-blue:hover {
	background-color: var(--color-bg-blue-hover);
}

.btn-red {
	background-color: var(--color-bg-red);
	color: white;
	border: 1px solid var(--color-bg-red);
}

.btn-red:hover {
	background-color: var(--color-bg-red-hover);
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.flex-1 {
	flex: 1;
}

.flex-0 {
	flex: 0;
}