@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


:root {
	--font-body: 'Roboto', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--sidebarWidth: 20rem;
}